.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyContainer {
    width: 45%;
    background-color: white;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    animation: show 0.5s;
}

.titleContainer {
    padding: 1.3rem 1rem;
    background-color: #ebf4f7;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #eeeeee;

    p {
        font-size: 1.1rem;
        font-family: AppleSDGothicNeoM;
    }
}

.contentContainer {
    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .articleContainer {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    p:nth-child(1) {
        font-size: 1rem;
        font-family: AppleSDGothicNeoL;
    }

    p:nth-child(2) {
        line-height: 1.5rem;
    }
}

.buttonContainer {
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-top: 1px solid #eeeeee;

    .closeButton {
        border: 0;
        padding: 0.3rem 0.7rem;
        border-radius: 5px;
    }
}

@keyframes show {
    from {
        opacity: 0;
        margin-top: -30px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}